data.db
analytics_data.db
token.txt
node_modules/
src/website/node_modules/
test/
src/data/spirals.txt
src/data/ecosnapshotsr
src/messages/rules.txt
data_backups/
src/data/spirals/*
src/data/card_images/*.png
src/data/card_images/*.gif
old.txt
last_backup.txt
src/data/gifs
src/data/cached_usernames.json
data_old.db
backup.db
/build/
src/website/app/build!
./lottery.txt
lottery.txt
.env
qotd.txt
src/data/file_directory
src/commands/fun/temp.png
src/commands/fun/output.gif
