data.db
analytics_data.db
token.txt
node_modules/
src/website/node_modules/
test/
src/data/spirals.txt
src/data/ecosnapshotsr
src/messages/rules.txt
data_backups/
src/data/spirals/*
src/data/card_images/*.png