.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual-text {
    font-size: 2em;
    color: white;
    text-shadow: 0px 0px 10px black;
}